progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700} select,button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #ECF0F1;
  color: #444;
  font-family: 'Inconsolata';
  position: relative;
}

#bg {
  height: 100%;
  border: 10px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.landing {
  top: 25%;
  position: relative;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  clear: both;
  overflow: auto;
}

.landing .left {
  float: left;
  width: 50%;
}

.landing .left .intro {
  font-size: 1.0em;
  line-height: 1.5em;
  max-width: 500px;
}

.landing .right {
  float: right;
  padding: 1em 0 0 2em;
  width: 50%;
}

.landing h2 {
  font-size: 1.15em;
  margin-bottom: 0;
}

.landing .right ul {
  margin: .5em 0 2em 0;
}

.landing .right ul li a {
  display: inline-block;
  color: #3498DB;
  transition: all .2s;
  padding: 4px;
}

.landing .right ul li a:hover {
  background: rgba(255, 255, 255, 0.8);
}

.landing .footer {
  clear: both;
  text-align: center;
  padding-top: 3em;
}

.landing .footer a {
  color: #2C3E50;
  display: inline-block;
  padding: 10px;
}

.landing .footer a:hover {
  background: #fff;
}
